.e1_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:1452px;
	height:1018px;
	position:absolute;
}
.e1_3 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../img/____1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_20 { 
	width:604px;
	height:392px;
	position:absolute;
	left:102px;
	top:481px;
}
.i1_20_1_4 { 
	overflow:hidden;
}
.ei1_20_1_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:604px;
	height:392px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:127px;
	border-top-right-radius:127px;
	border-bottom-left-radius:127px;
	border-bottom-right-radius:127px;
}
.ei1_20_1_6 { 
	width:604px;
	height:404.9230651855469px;
	position:absolute;
	left:0px;
	top:-12.923076629638672px;
	border-top-left-radius:88px;
	border-top-right-radius:88px;
	border-bottom-left-radius:88px;
	border-bottom-right-radius:88px;
	background-image:url(../img/ocr_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_11 { 
	width:456px;
	height:236px;
	position:absolute;
	left:905px;
	top:509px;
}
.1_8 { 
	overflow:hidden;
}
.e1_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:456px;
	height:236px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:65px;
	border-top-right-radius:65px;
	border-bottom-left-radius:65px;
	border-bottom-right-radius:65px;
}
.e1_10 { 
	width:501px;
	height:300px;
	position:absolute;
	left:-20px;
	top:-28px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
	background-image:url(../img/i_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_14 { 
	width:600px;
	height:358px;
	position:absolute;
	left:720px;
	top:76px;
}
.1_12 { 
	overflow:hidden;
}
.e1_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:600px;
	height:358px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_13 { 
	width:600px;
	height:339px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:115px;
	border-top-right-radius:115px;
	border-bottom-left-radius:115px;
	border-bottom-right-radius:115px;
	background-image:url(../img/_____________1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_11 { 
	background-color:rgba(31.237500607967377, 48.93877476453781, 208.24999898672104, 0.5);
	width:535px;
	height:259px;
	position:absolute;
	left:130px;
	top:104px;
	border-top-left-radius:41px;
	border-top-right-radius:41px;
	border-bottom-left-radius:41px;
	border-bottom-right-radius:41px;
}
.e6_15 { 
	color:rgba(255, 255, 255, 1);
	width:262px;
	height:143px;
	position:absolute;
	left:163px;
	top:144px;
	font-family:Italiana;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e6_12 { 
	background-color:rgba(96.85395285487175, 217.8125050663948, 39.932300448417664, 1);
	width:364px;
	height:139px;
	position:absolute;
	left:928px;
	top:835px;
	border-top-left-radius:49px;
	border-top-right-radius:49px;
	border-bottom-left-radius:49px;
	border-bottom-right-radius:49px;
}
.e6_13 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:85px;
	position:absolute;
	left:1020px;
	top:862px;
	font-family:Italiana;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
